body{
    background-color: #074A6E;
    color: #050505;
    font-family: Verdana, Arial, sans-serif;
    margin: 0;
}
header{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZo0B1PkRUXFmvsH_4gcv4r7EA615ijqOOmw&s");
    background-size: 100% 100%; /*stretch the image to 100% of the tag*/
    color: #F5F5F5;
    font-size: 120%;
    margin-top: 50px;
    min-height: 200px;
}
header a:link{text-decoration: none;display: block;color: #F5F5F5;}
header a:visited{text-decoration: none;display: block;color: #F5F5F5;}
header a:hover{text-decoration: none;display: block;color: #F5F5F5;}
h1{
    line-height: 200%;
    padding-top: 50px;
    padding-left: 2em;
}
h2{
    font-size: 200%;
}
nav{
    position: fixed; /* no moving when flexing */
    top:0;
    left:0;
    text-align: right;
    padding: .5em;
    padding-right: 0;
    width: 100%;
    background-color: aliceblue;
    margin:0;
    z-index: 9999; /* Make sure it is always on top*/
}
nav a{
    text-align: center;
    text-decoration: none;
    display: block;
}
nav a:link{color:#3F2860}
nav a:visited{color: #497777}
nav a:hover{color: #A26100;border: 3px inset #333333;}
nav ul{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    margin:0;
    font-size: 1.2em;
    list-style: none;
}
nav li{
    width: 7em;
    padding: 0 1em 0 1em;
    display: inline;
}
footer{
    background-color: #074A6E;
    font-size: .6em;
    font-style: italic;
    color:#F5F5F5;
    padding: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
dt{
    font-weight: bold;
    font-size: 1.1em;
}

div[class="one third"] img{
    width: 100%;
    height: 200px;
}
/*classes*/
.bootcamp{  /*apply a style to the company name*/
    color: #40407A;
    font-style: italic;
}
.home{
    height: 50vh;
    padding-left: 8em;
    padding-right: 5em;
}
.content{
    height: 30vh;
    padding-left: 8em;
    padding-right: 5em;
}
.one{
    float: left;
    padding-left: 2em;
    padding-right: 2em;
}

.third{
    width:33%;
}
.half{
    width:49%;
}
.floatleft{
    float: left;
    margin-right: 4em;
    margin-bottom: 1em;
}
/*id*/
#wrapper{
    padding: 2em;
    margin: 80%;
    width: 80%;
    background-color:#F5F5F5;
}
#hero{
    text-align: center;
}
#buildinghero{
    width:200px;
    height: 200px;
    display:block;
    margin: 1em auto;
    background-image: url(Assets/BottomCode.jpg);
}
#mobile{
    display: none;
}
#desktop{
    display: inline;
}
#flow{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

* {box-sizing: border-box;}
